# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
BloonsATTDTrainer.vcxproj
/vendor/ImGui/docs/BACKENDS.md
/vendor/ImGui/docs/CHANGELOG.txt
/vendor/ImGui/docs/CONTRIBUTING.md
/vendor/ImGui/docs/EXAMPLES.md
/vendor/ImGui/docs/FAQ.md
/vendor/ImGui/docs/FONTS.md
/vendor/ImGui/docs/README.md
/vendor/ImGui/docs/TODO.txt
